<% include header %>
<% if(entries.length){ %>
    <% entries.forEach(function(entry){ %>
    <div class="panel panel-default">
        <div class="panel-heading>
            <div class="text-muted pull-right>
            <% entry.published %>
            </div> <!–– text-muted pull-right ––> 
            <div class ="panel-body">
                <% entry.body %>
            </div> <!–– panel-body ––> 
        </div> <!–– panel heading ––> 
    </div> <!–– panel defualt panel ––> 
    <% }) %>
    <% } else { %>
        No entries! <a href="/new-entry"> Add a game?</a>
    <% } %>

<% include footer %>